/* ------------------------------
//
//  Forms' : Base
// 
// ------------------------------ */


fieldset {
	margin: 0 0 1em 0; 
	border: 0;
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="url"], 
input[type="password"],
input[type="search"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="url"],
input[type="date"],
input[type="password"],
input[type="file"],
input[type="number"],
input[type="search"],
textarea, 
select {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 1.5em 0; padding: .75em;
	color: #999; 
	border: 1px solid #ccc; 
	border-radius: 4px;
	background-color: #fff;
	font-size: .9em;
	outline: none;
	font-family: sans-serif;
}
textarea {
	min-height: 90px;
	resize: vertical;
}
select {}

input:focus, textarea:focus, select:focus {
	border: 1px solid #999;
	color: #444;
}
input[type="checkbox"]:focus + label, 
input[type="radio"]:focus + label {
	border-bottom: #444 1px solid; 
}

input[type="checkbox"], input[type="radio"],
input[type="checkbox"] + label, input[type="radio"] + label {
	width: auto; margin: 0 0 5px 0;
	display: inline-block; vertical-align: middle;
	cursor: pointer;
}
input[type="checkbox"] + label, input[type="radio"] + label {
	margin: 0 0 4px 3px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    right: 6px; font-size: 20px;
    cursor: pointer;
}

label, legend {
	display: block;
	font-weight: normal;
	font-size: .85em;
	margin: 0;
}
legend {
	padding-bottom: 5px; 
	margin-bottom: 1.5em;
	border-bottom: #999 1px solid;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	border-radius: 4px; 
	border: transparent 1px solid;
	margin: 0 0 .75em 0; padding: .75em 1.5em;
	width: auto; 
	text-transform: uppercase;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button,
input[type="button"],
input[type="reset"] {
	border-color: #ccc;
	border-bottom-color: #666;
	background-color: #fff; 
	color: #666;
}

input[type="submit"] {background-color: #666; color: #fff;}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
	background-color: #fff; 
	border-bottom-color: #ccc;
	color: #666;
}
input[type="submit"]:hover {
	background-color: #444; 
	border-color: #444;
	border-top-color: #000;
	color: #fff;
}


// ------------------------------
//
//  Forms : Custom 
// 
// ------------------------------


.formfield-text, 
.formfield-texteara,
.formfield-select, 
.formfield-checkbox, 
.formfield-radio {
	position: relative;
	margin: .5em 0;
}


// Radio buttons & Chekboxes


.formfield-radio input[type="radio"],
.formfield-checkbox input[type="checkbox"] {
	visibility: hidden; position: absolute; top: 0; left: 0;
}

.formfield-radio input[type="radio"] + label,
.formfield-checkbox input[type="checkbox"] + label {
	padding: 0 0 0 24px;
}

.formfield-radio input[type="radio"] + label:before,
.formfield-checkbox input[type="checkbox"] + label:before {
	display: inline-block; width: 20px; height: 20px;
	position: absolute; top: 0; left: 0;
	content: " "; vertical-align: middle;
	background: transparent url(../img/sprite.svg) 0 0 no-repeat;
}

.formfield-radio input[type="radio"] + label:before {background-position: 0 0;}
.formfield-radio input[type="radio"]:checked + label:before {background-position: -30px 0;}

.formfield-checkbox input[type="checkbox"] + label:before {background-position: 0 -30px;}
.formfield-checkbox input[type="checkbox"]:checked + label:before {background-position: -30px -30px;}


// Select


.formfield-select--container {
	position: relative; overflow: hidden;
	border: 1px solid #ccc; border-radius: 4px;
	margin: 0 0 1.5em 0; padding: 0;
}
.formfield-select--container:after {
	display: inline-block; width: 20px; height: 20px;
	background: transparent url(../img/sprite.svg) -60px -30px no-repeat;
	content: "";
	position: absolute; top: 50%; margin-top: -10px; right: 10px;
	z-index: 100;
}
.formfield-select--container select {
	width: 110%; height: auto;
	border: 0; margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.formfield-select--container select::-ms-expand {
    display: none;
}


// File


.formfield-file--container {
	position: relative;
}
.formfield-file--container {margin: 0 0 1.5em 0;}
.formfield-file--container:after {
	display: inline-block; width: 20px; height: 20px;
	background: transparent url(../img/sprite.svg) -90px -30px no-repeat;
	content: "";
	position: absolute; top: 50%; margin-top: -10px; right: 10px;
	z-index: 100;
}