/* -------------------
//
//  The Padding Grid
// 
// ------------------- */


// Some Variables


$grid-padding: 0.3125em; 	// @note: The padding gutter! equiv. 5px

$width-tiny: 22.563em; 		// @note: 361px
$width-small: 30.063em; 	// @note: 481px
$width-medium: 48.063em;	// @note: 769px
$width-large: 60.063em; 	// @note: 961px
$width-wide: 75.063em; 		// @note: 1201px


// Rows & Columns


.row {
	display: block;
	//font-size: 0;
	letter-spacing: -$grid-padding;
	//padding-left: $grid-padding/1.25;
	text-rendering: optimizespeed;
}

[class*="col-"] {
	padding: $grid-padding; 
	display: inline-block;
	vertical-align: top;
	//font-size: medium;
	letter-spacing: normal;
	//margin-left: -$grid-padding/1.25;
	word-spacing: normal;
	text-rendering: auto;
	
	
	
	// Nested columns
	
	&.colparent {
		padding: 0;
		//font-size: 0;
		letter-spacing: -$grid-padding;
		//padding-left: $grid-padding/1.25;
	}
	&.no-padding {
		padding: 0;
	}
}


// Columns Widths


.col-1, .col-2, .col-3, .col-4, 
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12 {
	width: 100%;
}


//  Special Widths


@media screen and (max-width: $width-medium) {

	[class*="col-"].smallquarter {width: 25%;}
	[class*="col-"].smallhalf {width: 50%;}
	[class*="col-"].smallthird {width: 33.3333%;}
	[class*="col-"].small2third {width: 66.6667%;}
	[class*="col-"].small3quarter {width: 75%;}
	[class*="col-"].smallfull {width: 100%;}

}

@media screen and (min-width: $width-small) and (max-width: $width-medium) {

	[class*="col-"].midquarter {width: 25%;}
	[class*="col-"].midhalf {width: 50%;}
	[class*="col-"].midthird {width: 33.3333%;}
	[class*="col-"].mid2third {width: 66.6667%;}
	[class*="col-"].mid3quarter {width: 75%;}
	[class*="col-"].midfull {width: 100%;}	
	
}


// Desktop 


@media screen and (min-width: $width-medium) {


	// Columns Widths 
	
	
	.col-1 {
		width: 8.3333%;
	}
	.col-2 {
		width: 16.6667%;
	}
	.col-3 {
		width: 25%;		
	}
	.col-4 {
		width: 33.3333%;
	}
	.col-5 {
		width: 41.6667%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.3333%;
	}
	.col-8 {
		width: 66.6667%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.3333%;
	}
	.col-11 {
		width: 91.6667%;
	}
	.col-12 {
		width: 100%;
	}
	
	
	// Offsets
	
	
	.left-1 {margin-left: 8.3333%;}
	.left-2 {margin-left: 16.6667%;}
	.left-3 {margin-left: 25%;}
	.left-4 {margin-left: 33.3333%;}
	.left-5 {margin-left: 41.6667%;}
	.left-6 {margin-left: 50%;}
	.left-7 {margin-left: 58.3333%;}
	.left-8 {margin-left: 66.6667%;}
	.left-9 {margin-left: 75%;}
	.left-10 {margin-left: 83.333%;}
	.left-11 {margin-left: 91.6667%;}
	
	.right-1 {margin-right: 8.3333%;}
	.right-2 {margin-right: 16.6667%;}
	.right-3 {margin-right: 25%;}
	.right-4 {margin-right: 33.3333%;}
	.right-5 {margin-right: 41.6667%;}
	.right-6 {margin-right: 50%;}
	.right-7 {margin-right: 58.3333%;}
	.right-8 {margin-right: 66.6667%;}
	.right-9 {margin-right: 75%;}
	.right-10 {margin-right: 83.3333%;}
	.right-11 {margin-right: 91.6667%;}
	
}
