.acf-fc-popup {
    width:80%;
    max-width:1200px;
    height:80%;
    max-height:1200px;
    top:50% !important;
    left:50% !important;
    -webkit-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);
    border-radius:0;
    position: fixed !important;
    background: none !important;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.acf-fc-popup * {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.acf-fc-popup::before,
.acf-fc-popup::after {
    border-color:transparent !important;
}
.acf-fc-popup:before {
    top: -100% !important;
    right: 0 !important;
    bottom: 0 !important;
    left: -100% !important;
    position: fixed;
    background: rgba(0,0,0,0.8);
    height: 200vh;
    width: 200vw;
    margin: 0 !important;
    padding: 0;
    content: "";
}

.acf-fc-popup ul {
    overflow:auto;
    height:100%;
    width:100%;
    background:#f4f4f4;
    border:#ccc;
    padding:15px;
    position:relative;
    -webkit-box-shadow:0 0 8px rgba(0, 0, 0, 0.5);
            box-shadow:0 0 8px rgba(0, 0, 0, 0.5);
    padding-top: 93px !important;
}
.acf-fc-popup ul:before {
    position: absolute;
    top: 31px;
    content: "Ajouter une section";
    font-size: 23px;
    font-weight: 400;
    color: #333;
    left: 30px;
}
.acf-fc-popup ul:after {
    position: absolute;
    top: 62px;
    content: "Selectionnez la section à ajouter sur la page.";
    font-size: 13px;
    color: #666;
    left: 30px;
    font-style: italic;
}
.acf-fc-popup ul li {
    width: 33.33333%;
    padding: 1%;
    float: left;
}
@media only screen and (max-width:960px) {
    .acf-fc-popup ul li {
        width: 50%;
    }
}
@media only screen and (max-width:782px) {
    .acf-fc-popup {
        width:95%;
        height:88%;
    }
    .acf-fc-popup ul li {
        width: 100%;
    }
}
.acf-fc-popup ul li a {
    padding: 0;
    color: #fff;
}
.acf-fc-popup ul li a i {
    font-size: 22px;
    vertical-align: text-top;
    margin-right: 10px;
}

.acf-fc-popup ul li a img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
	width: 100%;
    height: auto;
    display: block;
    margin: 0;
}
.acf-fc-popup ul li a img:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.acf-fc-popup ul li a span {
	display: block;
    position: relative;
    padding: 5px 10px;
    background: #777;
	font-weight: bold;
}
.acf-fc-popup a:hover {
    background: none;
}
.acf-fc-popup a:hover span {
    background: #333;
}
