@charset "UTF-8";
/*!
   ----------------------------------------------------------
	Prid'x: Anybodesign's Responsive Flexed Based Padding Grid
	Author: Thomas Villain at Anybodesign Workshop
	Url: https://anybodesign.com/
	Project Url: https://lab.anybodesign.com/pridx/
	License: WTFPL http://www.wtfpl.net/
	Version: 1.7
   ----------------------------------------------------------
*/

// Some Variables


$grid-padding: .3125em; 	// @note: The padding gutter! equiv. 5px

$width-small: 25em; 		// @note: 400px
$width-medium: 40em;		// @note: 640px
$width-large: 50em; 		// @note: 800px
$width-wide: 80em;	 		// @note: 1280px


// Rows & Columns


.row {
    display: flex;
    flex-wrap: wrap;
	text-rendering: optimizespeed;

	&.x-top      {align-items: flex-start;}
	&.x-middle   {align-items: center;}
	&.x-bottom   {align-items: flex-end;}
	&.x-stretch  {align-items: stretch;}
	&.x-baseline {align-items: baseline;}
	&.x-left     {justify-content: flex-start;}
	&.x-center   {justify-content: center;}
	&.x-right    {justify-content: flex-end;}
	&.x-between  {justify-content: space-between;}
	&.x-around   {justify-content: space-around;}
	
	
	// Row For Nested columns

	&.nested {
		margin-left: -$grid-padding;
		margin-right: -$grid-padding;
		margin-top: -$grid-padding;
		margin-bottom: $grid-padding;
	}
}


[class*="col-"] {
    flex-shrink: 0;
    padding: $grid-padding;
	box-sizing: border-box;
	
	// No Padding 
	
	&.no-padding {
		padding: 0;
	}
}


// Columns Widths


.col-1, .col-2, .col-3, .col-4, 
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12 {
	width: 100%;
}


// Filling

.col-0 {
	width: 100%;
		
	@media screen and (min-width: $width-large) {
		width: auto;
		flex-grow: 1;
	} 
}


//  Special Widths


@media screen and (max-width: $width-medium) {
	
	[class*="col-"] {
		&.small-1 {width: 8.3333%;}
		&.small-2 {width: 16.6667%;}
		&.small-3 {width: 25%;}
		&.small-4 {width: 33.3333%;}
		&.small-5 {width: 41.6667%;}
		&.small-6 {width: 50%;}
		&.small-7 {width: 58.3333%;}
		&.small-8 {width: 66.6667%;}
		&.small-9 {width: 75%;}
		&.small-10 {width: 83.3333%;}
		&.small-11 {width: 91.6667%;}
		&.small-12 {width: 100%;}	
	}

}

@media screen and (min-width: $width-small) and (max-width: $width-large) {


	[class*="col-"] {
		&.mid-1 {width: 8.3333%;}
		&.mid-2 {width: 16.6667%;}
		&.mid-3 {width: 25%;}
		&.mid-4 {width: 33.3333%;}
		&.mid-5 {width: 41.6667%;}
		&.mid-6 {width: 50%;}
		&.mid-7 {width: 58.3333%;}
		&.mid-8 {width: 66.6667%;}
		&.mid-9 {width: 75%;}
		&.mid-10 {width: 83.3333%;}
		&.mid-11 {width: 91.6667%;}
		&.mid-12 {width: 100%;}		
	}
	
}


// Desktop 


@media screen and (min-width: $width-large) {


	// Columns Widths 
	
	
	.col-1 {width: 8.3333%;}
	.col-2 {width: 16.6667%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.3333%;}
	.col-5 {width: 41.6667%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.3333%;}
	.col-8 {width: 66.6667%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.3333%;}
	.col-11 {width: 91.6667%;}
	.col-12 {width: 100%;}
	

	// Offsets
	
	
	.left-1 {margin-left: 8.3333%;}
	.left-2 {margin-left: 16.6667%;}
	.left-3 {margin-left: 25%;}
	.left-4 {margin-left: 33.3333%;}
	.left-5 {margin-left: 41.6667%;}
	.left-6 {margin-left: 50%;}
	.left-7 {margin-left: 58.3333%;}
	.left-8 {margin-left: 66.6667%;}
	.left-9 {margin-left: 75%;}
	.left-10 {margin-left: 83.333%;}
	.left-11 {margin-left: 91.6667%;}
	
	.right-1 {margin-right: 8.3333%;}
	.right-2 {margin-right: 16.6667%;}
	.right-3 {margin-right: 25%;}
	.right-4 {margin-right: 33.3333%;}
	.right-5 {margin-right: 41.6667%;}
	.right-6 {margin-right: 50%;}
	.right-7 {margin-right: 58.3333%;}
	.right-8 {margin-right: 66.6667%;}
	.right-9 {margin-right: 75%;}
	.right-10 {margin-right: 83.3333%;}
	.right-11 {margin-right: 91.6667%;}

}
