// -------------------------
// = Variables Colors
// -------------------------



// Root CSS vars

:root {
	
	// Colors 
	
	--primary_color: #23252b; 
	--secondary_color: #606060; 
	--accent_color: #CEFF00;
	--bg_color: #f0f0f0;
	--page_color: #ffffff;
	
	--text_color: #23252b;
	
	--btn_text: #23252b;
	--btn_text_hover: #fff;
	
	--header_color: transparent;
	--footer_color: transparent;
	
}