@import '_variables.scss';
@import '_mixins.scss';

$dash: #777 1px dashed;

//
// Customizer
// ------------------ *

// Controls

#customize-control-site_icon {
	border-top: $dash;
	padding-top: 1.5em;
	margin-top: 1em;
}
#customize-control-site_logo {
	margin-bottom: 1.5em;
}

#customize-control-webfont,
#customize-control-layout_option {
	
	.customize-inside-control-row {
		margin-left: 0;
		
		input[type=radio] {
			opacity: 0;
			position: absolute;
		}
		input[type=radio] + label {
			opacity: .4;
		}
		input[type=radio]:checked + label {
			font-weight: bold;
			opacity: 1;
		}
		input[type=radio]:checked + label::before {
			opacity: 1;
		}
		label::before {
			content: '';
			display: block;
			width: 256px;
			height: 144px;
			margin-bottom: 0.5em;
			border: transparent 2px solid;
			opacity: .5;
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	
	#_customize-input-layout_option-radio-version1 + label::before {
		background-image: url(../img/admin/layout/version-1.png);
	}
	#_customize-input-layout_option-radio-version2 + label::before {
		background-image: url(../img/admin/layout/version-2.png);
	}
	#_customize-input-layout_option-radio-version3 + label::before {
		background-image: url(../img/admin/layout/version-3.png);
	}
	
	#_customize-input-webfont-radio-barlow + label::before {
		background-image: url(../img/admin/webfonts/barlow.png);
	}
	#_customize-input-webfont-radio-bebas + label::before {
		background-image: url(../img/admin/webfonts/bebas.png);
	}
	#_customize-input-webfont-radio-playfair + label::before {
		background-image: url(../img/admin/webfonts/playfair.png);
	}
	#_customize-input-webfont-radio-luciole + label::before {
		background-image: url(../img/admin/webfonts/luciole.png);
	}
	#_customize-input-webfont-radio-miriam + label::before {
		background-image: url(../img/admin/webfonts/miriam.png);
	}
	
	#_customize-input-webfont-radio-custom {
		opacity: 1;
		position: relative;
		margin: auto;
		
		& + label {
			opacity: 1;
			border: 0;
			
			&::before {
				content: none;
			}
		}
		
	}
}

#customize-control-webfont {
	.customize-inside-control-row {
		label {
			padding-top: .25em;
			margin-top: .25em;
			border-top: #777 1px solid;
			
			&::before {
				width: 220px;
				height: 100px;
			}
		}
		&:last-child {
			margin-top: 1rem;
		}	
	}
}


//
// Plugins
// ------------- *

// Password protected 

#pp-sidebar,
#adminmenu li.toplevel_page_password-protected .wp-submenu  {
	display: none;
}