@import '_variables.scss';
@import '_mixins.scss';

#back2top {
	display: block;
	padding: .5rem;
	width: 4.4rem;
	height: 4.4rem;
	border-radius: 50%;
	background-color: var(--text_color);
	
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	
	opacity: 0;
	transition: .2s ease-in-out;
	z-index: 900;
	
	& svg {
		width: 100%;
		height: auto;
	}
	&:hover,
	&:focus {
		transform: scale(1.1);
	}
	
	.back2top-btn & {
		opacity: 1;
	}

}