/* ------------------------- */
/* = Basics
/* ------------------------- */

html, 
body, 
#wrapper {
	width: 100%; 
	height: 100%; 
}

body {
	text-size-adjust: none;
	background-color: $bg-color;
}

.row {
    display: flex;
    flex-wrap: wrap;
	text-rendering: optimizespeed;

	&.align-start {align-items: flex-start;}
	&.align-center {align-items: center;}
	&.align-end {align-items: flex-end;}
	&.align-stretch {align-items: stretch;}
	&.align-baseline {align-items: baseline;}
	&.justify-start {justify-content: flex-start;}
	&.justify-center {justify-content: center;}
	&.justify-end {justify-content: flex-end;}
	&.justify-between {justify-content: space-between;}
	&.justify-around {justify-content: space-around;}
	
	
	// Row For Nested columns

	&.nested {
		margin-left: -$grid-padding;
		margin-right: -$grid-padding;
		margin-top: -$grid-padding;
		margin-bottom: $grid-padding;
	}
}

.inner {
	position: relative;
	margin: 0 auto;
	max-width: $max-width;
	
	.row & {
		width: 100%;
	}
}