// ------------------------------
//
// = Buttons
//
// ------------------------------

// You can use the class .action-btn on <a>, <button> or <input> 

.action-btn {
	display: inline-block;
	padding: $grid-padding $grid-padding*2;
	font-size: 1.4rem;
	font-family: var(--font_bold);
	text-transform: uppercase;
	text-decoration: none;
	background-color: var(--accent_color);
	color: var(--btn_text);
	transition: background .2s linear;
	
	&:focus, 
	&:hover {
		background-color: var(--text_color);
		color: var(--btn_text_hover);
	}
	&:focus {
		outline: none;
	}
}

// Variation example of .action-btn

.white-btn {
	@extend .action-btn;
	background-color: #fff;
	color: var(--text_color);

	&:focus, 
	&:hover {
		background-color: var(--text_color);
		color: var(--btn_text_hover);
	}	
}