// ------------------------------
//
// = Buttons
//
// ------------------------------

.action-btn,
.wp-block-button__link,
.wp-block-file__button,
.gform_next_button {
	display: inline-block;
	padding: $grid-padding $grid-padding*2;
	font-size: 1.4rem;
	font-family: var(--font_bold);
	text-transform: uppercase;
	text-decoration: none;
	background-color: var(--accent_color);
	color: var(--btn_text);
	transition: background .2s linear;
	border-radius: 0;
	
	&:focus, 
	&:hover {
		background-color: var(--text_color);
		color: var(--btn_text_hover);
		opacity: 1;
	}
	&:focus {
		outline: none;
	}
	
	&.has-accent-background-color,
	&.has-white-background-color,
	&.has-bg-background-color {
		&:hover,
		&:focus {
			color: #fff;
		}
	}
	
}

// Icons 

// .icon-btn--arrow {
// 	@extend .action-btn;
// 	position: relative;
// 	padding-right: 5rem;
// 	
// 	&::after {
// 		content: '';
// 		display: block;
// 		position: absolute;
// 		top: 50%;
// 		right: $grid-padding*1.5;
// 		transform: translateY(-50%);
// 		width: 1.8rem;
// 		height: 1.6rem;
// 		background-image: url(img/ui/arrow.svg);
// 		background-position: center center;
// 		background-repeat: no-repeat;
// 		background-size: contain;
// 	}
// 	&:focus, 
// 	&:hover {
// 		&::after {
// 			background-image: url(img/ui/arrow-white.svg);
// 		}
// 	}
// }