// Common Stuff
// -
// + + + + + + + + + + 


// Structure 


.page-wrap {
	
	&.has-sidebar {
		@include center();
		
		@include rwd(large) {
			display: flex;
			flex-wrap: wrap;
		}
	}
}

.page-banner,
.page-content,
.page-sidebar {
	padding: $grid-padding;
	width: 100%;
}

.page-banner {}

.page-content {
	
	// Centering Blocks and content
	
	& > * {
		width: 100%;
		padding: $grid-padding;
		@include center();
	}
	
	& > *.alignfull {
		margin-left: 0;
		margin-right: 0;
		max-width: none;
	}
	
	& > [class*="wp-block-gallery"],
	& > [class*="wp-block-cover-image"],
	& > [class*="wp-block-quote"] {
		@include center(0, $grid-padding*2);
	}
	& > [class*="wp-block-table"],
	& > [class*="wp-block-verse"] {	
		@include center($grid-padding*2, $grid-padding*2);
		max-width: calc(#{$max-width} - #{$grid-padding}*2);
	}


	
	@include rwd(large) {
		
		.has-sidebar & {
			width: 75%;
		}
	}	
}

.page-sidebar {
	
	@include rwd(large) {
		
		.has-sidebar & {
			width: 25%;
		}
	}	
}
