// Common Stuff
// -
// + + + + + + + + + + 

// Let's Rock :)


// Builder Basics (If you use ACF)
// -
// + + + + + + + + + + + + + + + + 


.fs-builder {
	width: 100%;
}

.builder-section {
	position: relative;
	margin-bottom: $grid-padding*2;
}

.builder-section-container {
	width: 100%;
}

// Text

.builder-text {}

[class*=builder-text--] {
	
	@include rwd(medium) {
		display: flex;
		justify-content: space-between; 
	}
}

.builder-text-column {
	flex: 1 0 0;
	margin-right: 1.5em;	
	
	&:last-child {
		margin-right: 0;	
	}
	
	@include rwd(medium) {
		.builder-text--2-1col &:first-child,
		.builder-text--1-2col &:last-child {
			flex: auto;
			width: 66.6667%;
		}
		.builder-text--2-1col &:last-child,
		.builder-text--1-2col &:first-child {
			flex: auto;
			width: 33.3333%;
		}
	}
}

// Text + Img

.builder-textimg {
	
	.builder-section-container {
		
		@include rwd(medium) {
			display: flex;
			
			&.right {
				flex-direction: row-reverse;
			}
		}
	}
}

.builder-textimg-text,
.builder-textimg-picture {
	
	@include rwd(medium) {
		width: 50%;
	}
}

.builder-textimg-text {
	padding-left: $grid-padding*2;
	
	.right & {
		padding-left: 0;
		padding-right: $grid-padding*2;
	}
}


// CTA

.builder-cta {
	padding: 6em;
	text-align: center;
	background-size: cover;
	background-position: center center;
}
.builder-cta-text {}
.builder-cta-btn {}

.cta-overlay {
	
	&::before {
		content: '';
		position: absolute;
		top: 0; 
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to top, rgba(0,0,0, .65) 0%, rgba(0,0,0, 0) 100%);
		z-index: 1;
	}
	
	.builder-cta-text,
	.builder-cta-btn {
		position: relative;
		z-index: 2;
	}
}


// Gallery pictures or content


.builder-gallery-text {
	width: 100%;
}

.builder-gallery-pictures {
	display: flex;
	justify-content: flex-start; 
	flex-wrap: wrap;
	margin: 0 -$grid-padding;
}

[class*="gallery-item-"] {
	padding: $grid-padding;
	width: 50%;
}

.gallery-item-2cols,
.gallery-item-3cols,
.gallery-item-4cols,
.gallery-item-6cols {
	//width: 50%;
}

@include rwd(large) {
	.gallery-item-6cols {
		width: 16.6667%;
	}
	.gallery-item-4cols {
		width: 25%;
	}
	.gallery-item-3cols {
		width: 33.3333%;
	}
	.gallery-item-2cols {
		width: 50%;
	}
}

.builder-gallery-figure {
	position: relative;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: auto;
		transition: .2s ease-in-out;
	}

}

@include rwd(large) {
	
	.builder-gallery-caption {
		position: absolute;
		top: 0; 
		left: 0;
		width: 100%; 
		height: 100%;
		margin: 0;
		background-color: rgba(0,0,0,.75);
		opacity: 0;
		transition: opacity .2s ease-in-out;
	}
	.builder-gallery-caption-title {
		position: relative;
		top: 50%;
		display: block;
		width: 100%;
		color: #fff;
		text-align: center;
		transition: transform .2s ease-in-out;		
	}
	
	.builder-gallery-figure {
		
		a:hover,
		a.focus-visible {
			
			.builder-gallery-caption {
				opacity: 1;
			}
			.builder-gallery-caption-title {
				transform: translateY(-50%);
			}
			img {
				opacity: .75;
				transform: scale(1.05);
			}
		}
		a:focus {
			outline: none;
		}
	} 

}


// Builder Custom
// -
// + + + + + + + + + + 

// For your own Flexible Fields
