// -------------------------
// 
// = Forms
// 
// -------------------------


// Regular and Custom Styles for Forms


fieldset {
	margin: $grid-padding*2 0; 
	border: 0;
	padding: 0;
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="url"],
input[type="date"],
input[type="password"],
input[type="file"],
input[type="number"],
input[type="search"],
textarea, 
select {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 $grid-padding*2 0;
	padding: $grid-padding;
	color: $text-color; 
	border: $text-color 1px solid; 
	background-color: #fff;
	font-size: 1.6rem;
	font-family: $font-regular;
	border-radius: 0;
	appearance: none;
	
	&:focus {
		background-color: $text-color;
		color: #fff; 	
	}
	&:focus {
		outline: none;
	}	
}

input[type="search"] {
	border-radius: 0;
	padding-left: $grid-padding;
}

textarea {
	min-height: 18rem;
	resize: vertical;
}

input[type="checkbox"]:focus + label, 
input[type="radio"]:focus + label {
	border-bottom: $text-color 2px dashed; 
}

input[type="checkbox"], 
input[type="radio"],
input[type="checkbox"] + label, 
input[type="radio"] + label {
	width: auto; 
	margin: 0 0 .5rem 0;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    right: .5em; 
    font-size: 2rem;
    cursor: pointer;
}

label, legend {
	display: block;
	font-weight: normal;
	margin: 0;
}

button,
input[type="submit"],
input[type="button"] {
	border: 0;
	border-radius: 0;
	cursor: pointer;
	appearance: none;
}
input[type="submit"] {
	@extend .action-btn;
}

// Placeholders

::placeholder {
	color: lighten($text-color, 20%);
	font-family: $font-italic;
	font-size: 1.4rem;
}
:focus::placeholder,
*:focus::placeholder {
	color: transparentize(#fff, .5);
}


// -------------------------
//
// = Gravity Forms
//
// -------------------------

// If you use the Gravity Forms Plugin (CSS disabled)

.gform_fields,
.gfield_checkbox {
	padding: 0;
	list-style: none;
}
.gfield {
	margin-bottom: 1em;
}
.gfield_visibility_ {
	display: none;
	position: absolute !important;
	left: -9000px;
}
.ginput_container_checkbox {
	padding: $grid-padding*2 0;
}

.gform_wrapper {
	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
		padding: $grid-padding !important;
		margin-bottom: 0 !important;
	}
}

// Checkbox, Radio & Select

.gfield_checkbox li {
	@extend .formfield-checkbox;
}
.gfield_radio li {
	@extend .formfield-radio;
}
.ginput_container_select {
	@extend .formfield-select--container;
	margin-bottom: 0;
	
	select {
		line-height: normal !important;
		padding: $grid-padding !important;		
	}
}

// Submit

input[type="submit"].gform_button {
	@extend .action-btn;
}

// Honeypot

.gform_validation_container, .gform_wrapper .gform_validation_container, body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container, body .gform_wrapper li.gform_validation_container, body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
	display: none!important;
	position: absolute!important;
	left: -9000px;
}



// -------------------------
//
// = ContactForm 7
//
// -------------------------

// If you use the ContactForm7 Plugin

.wpcf7-response-output {
	border: 0 !important; 
	background-color: #B3003C; 
	color: #fff;
	margin: $grid-padding 0 0 0 !important; 
	padding: $grid-padding !important;
	font-family: $font-regular;
	
	.sent & {
		background-color: $accent-color;
		color: $text-color;
	}
	.spam & {
		background-color: $primary-color;
		color: #fff;
	}
}
.wpcf7-not-valid {
	border: #B3003C 2px solid !important;
}
.wpcf7-not-valid-tip {
	color: #B3003C;
	margin-top: -2rem;
	padding-top: .5rem;
	border-top: #B3003C 4px solid;
	font-family: $font-bold;
}
input[type="submit"].wpcf7-submit {
	@extend .action-btn;
}