// ------------------------------
//
//  Forms : Custom 
// 
// ------------------------------


// Containers for inputs
// Inputs must be wrapped inside them

.formfield-half {
	
	@include rwd(medium) {
		display: flex;
		
		[class*="formfield-"] {
			flex: 1 0 0;
		}
	}
}

.formfield-text, // Generic container
.formfield-textarea,
.formfield-select, 
.formfield-file, 
.formfield-checkbox, 
.formfield-radio {
	position: relative;
	margin: $grid-padding 0;

	.formfield-half &:first-child {
		@include rwd(medium) {
			margin-right: $grid-padding*2;
		}
	}	
}


// Radio buttons & Chekboxes

.formfield-radio input[type="radio"],
.formfield-checkbox input[type="checkbox"] {
	opacity: 0; 
	position: absolute; 
	top: 0; 
	left: 0;
	
	& + label,
	& + span {					// @note: span is for CF7
		padding: 0 0 0 2.6rem;
		
		&::before {
			content: ''; 
			vertical-align: middle;
			display: inline-block; 
			width: 1.6rem;
			height: 1.6rem;
			position: absolute; 
			top: .3rem; 
			left: 0;
			border: var(--text_color) 1px solid;
			background-color: #fff;
		}
		
		&::after {
			content: ''; 
			vertical-align: middle;
			display: inline-block;
			position: absolute; 
			top: 0; 
			left: 0;
		}
	}
}

.formfield-radio input[type="radio"] + label::before,
.formfield-radio input[type="radio"] + span::before {
	border-radius: 100%;
}
.formfield-radio input[type="radio"] + label::after,
.formfield-radio input[type="radio"] + span::after {
	width: .6rem; 
	height: .6rem;
	background-color: var(--primary_color);
	top: .9rem; 
	left: .6rem;
	border-radius: 100%;
	opacity: 0;
	transition: opacity .2s linear;
}
.formfield-radio input[type="radio"]:checked + label::after,
.formfield-radio input[type="radio"]:checked + span::after {
	opacity: 1;
}

.formfield-checkbox input[type="checkbox"] + label::after,
.formfield-checkbox input[type="checkbox"] + span::after {
	top: .5rem; 
	left: .35rem;
	content: '';
	width: 1rem;
	height: .5rem;
	border-left: 4px solid var(--primary_color);
	border-bottom: 4px solid var(--primary_color);	
	opacity: 0;
	transform: rotate(-45deg);
	transition: opacity .2s linear;
}
.formfield-checkbox input[type="checkbox"]:checked + label::after,
.formfield-checkbox input[type="checkbox"]:checked + span::after  {
	opacity: 1;
}

// Select

.formfield-select--container {
	position: relative; 
	overflow: hidden;
	background-color: #fff;
	border: var(--text_color) 1px solid;
	margin: 0 0 $grid-padding*2 0;
	padding: 0;
	
	&::after {
		content: '';
		position: absolute;
		top: 50%; 
		margin-top: -.3rem;
		right: .5em;  
		display: block; 
		width: 0; 
		height: 0;
		border-color: transparent;
		border-top-color: var(--primary_color); 
		border-width: .6rem;
		border-style: solid;
		pointer-events: none;
	}
	
	& select {
		padding-right: 6rem;
		width: 110%; 
		height: auto;
		border: 0; 
		margin: 0;
		border-radius: 0;
		appearance: none;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.formfield-select--container select::-ms-expand {
    display: none;
}

// File

.formfield-file--container {
	position: relative;
	margin: 0 0 $grid-padding*2 0;

	&::after {
		display: inline-block; 
		content: "\1F4CE";
		font-size: 2rem;
		color: var(--text_color);
		position: absolute; 
		top: .5em; 
		right: .5em;
		z-index: 100;
	}
}

// For CF7

.wpcf7-list-item label {
	position: relative;
}
span.wpcf7-list-item {
	margin: 0 $grid-padding 0 0;
}

.formfield-radio input[type="radio"]:focus,
.formfield-checkbox input[type="checkbox"]:focus {
	
	& + span {
		font-family: var(--font_bold);
		
		&::before {
			background-color: var(--primary_color);
		}
	}
}

.wpcf7-acceptance {
	
	label {
		font-family: $font-regular;
		font-size: 1.4rem;
		border: 0;	
	}
}

.comment-form-cookies-consent {
	@extend .formfield-checkbox;
}

.formfield-select {
	.wpcf7-form-control-wrap {
		display: block;
		@extend .formfield-select--container;
	}
}