// -------------------------
// 
// = Forms
// 
// -------------------------


fieldset {
	margin: 0 0 1em 0; 
	border: 0;
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="url"],
input[type="date"],
input[type="password"],
input[type="file"],
input[type="number"],
input[type="search"],
textarea, 
select {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 1.5em 0; padding: .75em;
	color: #999; 
	border: #ccc 1px solid; 
	background-color: #fff;
	font-size: 1em;
	font-size: 1.6rem;
	font-family: sans-serif;
	appearance: none;
	
	&:focus {
		outline: none;
		border-color: #333;
		color: #333; 	
	}
}
textarea {
	min-height: 180px;
	resize: vertical;
}

input[type="checkbox"]:focus + label, 
input[type="radio"]:focus + label {
	border-bottom: #444 1px dashed; 
}

input[type="checkbox"], input[type="radio"],
input[type="checkbox"] + label, input[type="radio"] + label {
	width: auto; margin: 0 0 5px 0;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

input[type="search"] {
   -webkit-appearance: textfield;
   //-webkit-box-sizing: content-box;
   padding: .75em 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    right: .5em; 
    font-size: 2rem;
    cursor: pointer;
}

label, legend {
	display: block;
	font-weight: normal;
	margin: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	margin: 0 0 .75em 0;
	padding: .75em 1.5em;
	border: 0;
	width: auto; 
	font-size: 0.9em;
	font-size: 1.4rem;
}

button,
input[type="button"],
input[type="reset"] {
	background-color: #fff; 
	color: #666;
}

input[type="submit"] {background-color: #666; color: #fff;}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
	background-color: #eee; 
	color: #444;
}
input[type="submit"]:hover {
	background-color: #444; 
	color: #fff;
}


// ------------------------------
//
//  Forms : Custom 
// 
// ------------------------------


.formfield-text, 
.formfield-texteara,
.formfield-select, 
.formfield-checkbox, 
.formfield-radio {
	position: relative;
	margin: .5em 0;
}


// Radio buttons & Chekboxes


.formfield-radio input[type="radio"],
.formfield-checkbox input[type="checkbox"] {
	visibility: hidden; 
	position: absolute; 
	top: 0; 
	left: 0;
}

.formfield-radio input[type="radio"] + label,
.formfield-checkbox input[type="checkbox"] + label {
	padding: 0 0 0 26px;
}

.formfield-radio input[type="radio"] + label:before,
.formfield-checkbox input[type="checkbox"] + label:before {
	content: ""; vertical-align: middle;
	display: inline-block; width: 20px; height: 20px;
	position: absolute; top: 0; left: 0;
	border: #ccc 1px solid;
	background-color: #fff;
}
.formfield-radio input[type="radio"] + label:before {
	border-radius: 100%;
}

.formfield-radio input[type="radio"] + label:after,
.formfield-radio input[type="radio"] + label:after {
	content: ""; vertical-align: middle;
	display: inline-block;
	position: absolute; top: 0; left: 0;
}

.formfield-radio input[type="radio"] + label:after {
	width: 10px; height: 10px;
	background-color: #444;
	top: 6px; left: 6px;
	border-radius: 100%;
	opacity: 0;
	transition: opacity .2s linear;
}
.formfield-radio input[type="radio"]:checked + label:after {
	opacity: 1;
}

.formfield-checkbox input[type="checkbox"] + label:after {
	position: absolute; top: -2px; left: 6px;
	content: "L";
	transform: scaleX(-1) rotate(-45deg);
	color: #444; 
	opacity: 0;
	transition: opacity .2s linear;
}
.formfield-checkbox input[type="checkbox"]:checked + label:after {
	opacity: 1;
}


// Select


.formfield-select--container {
	position: relative; overflow: hidden;
	background-color: #fff;
	border: #ccc 1px solid;
	margin: 0 0 1.5em 0;
	padding: 0;
}
.formfield-select--container:after {
	content: "";
	position: absolute;
	top: 50%; margin-top: -3px;
	right: .5em;  
	display: block; 
	width: 0; height: 0;
	border-color: transparent;
	border-top-color: #444; 
	border-width: 6px;
	border-style: solid;
	pointer-events: none;
}
.formfield-select--container select {
	width: 110%; height: auto;
	border: 0; margin: 0;
	border-radius: 0;
	appearance: none;
	overflow: hidden;
	text-overflow: ellipsis;
}
.formfield-select--container select::-ms-expand {
    display: none;
}


// File


.formfield-file--container {
	position: relative;
}
.formfield-file--container {margin: 0 0 1.5em 0;}
.formfield-file--container:after {
	display: inline-block; 
	content: "\1F4CE";
	font-size: 2rem;
	color: #444;
	position: absolute; 
	top: .5em; right: .5em;
	z-index: 100;
}



// -------------------------
//
// = ContactForm 7
//
// -------------------------


div.wpcf7-response-output {
	margin: 10px 0 0 0 !important; padding: 5px !important;
	font-family: $font-regular;
}
span.wpcf7-not-valid-tip {
	color: #c00;
	margin-top: -.5em;
	padding-top: .25em;
	border-top: #c00 1px solid;
}
div.wpcf7-validation-errors {
	border: 0 !important; background-color: #c00; color: #fff !important;
}
div.wpcf7-mail-sent-ok {
	border: 0 !important; background-color: #9c0; color: #fff !important;
}
