/* ------------------------- */
/* = Header
/* ------------------------- */


#site_head {
	position: relative;
	padding: $grid-padding*2 0;
	
	& > .row {
		align-items: center;
	}
}

.site-title {
	display: block;
	margin: 0;
	line-height: 1;
	
	a {
		
	}
}

.site-desc {
	display: block;
	margin: 0;
}

.site-brand {
	padding: $grid-padding;
}