/* ------------------------- */
/* = Header
/* ------------------------- */


#site_head {
	position: relative;
	background-color: var(--header_color);
	
	& > .row {
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		padding-bottom: $grid-padding*2;
		
		&::after {
			content: '';
			display: block;
			border-bottom: var(--text_color) 1px solid;
			width: calc(100% - #{$grid-padding}*2);
			position: absolute;
			left: $grid-padding;
			bottom: 0;
			
			.banner-has-bg & {
				content: none;
			}
		}
		
		@include rwd(large) {
			flex-direction: row;
			
			.layout-v2 & {
				flex-direction: column;
				justify-content: flex-start;
			}	
		}
		
	}
}

// Layout

.site-toolbar {
	position: relative;
	width: 100%;
	padding: $grid-padding;
	margin-bottom: $grid-padding*2;

	&.has-search {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-end; 
			
		@include rwd(small) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}	
}

.toolbar-widgets {
	display: flex;
	align-items: center;
}

.site-brand {
	padding: $grid-padding;
	margin-top: $grid-padding*2;
	
	.site-toolbar + & {
		margin-top: 0;
	}
	
	@include rwd(large) {
	
		.layout-v2 & {
			text-align: center;
		}	
	}
}

.site-nav {
	padding: $grid-padding;
	margin-top: $grid-padding*2;
	
	.site-toolbar + .site-brand + & {
		margin-top: 0;
	}
}


// Styles

.site-toolbar {

	.searchform {
		position: relative;
		
		label {
			position: absolute;
			top: 1.25rem;
			right: 3rem;
			padding-left: 2.5rem;
			font-family: var(--font_regular);
			font-size: 1.3rem;
			transition: .2s ease-in-out;
			opacity: 0;
			border: 0;
		}
		&:hover label {
			opacity: 1;
		}
		input[type="search"] {
			margin: 0;
			border-color: transparent;
			background-color: transparent;
			transition: .3s ease-in-out;
			width: 5rem;
			
			&:focus {
				border-color: var(--primary_color);
				background-color: transparent;
				color: var(--text_color);
				width: 20rem;
			}
			&:focus + label,
			&:not(:placeholder-shown) + label {
				opacity: 0;
				visibility: none;
			}
			&:focus + label + #searchsubmit,
			&:not(:placeholder-shown) + label + #searchsubmit {
				transform: translateX(-1rem);
				pointer-events: initial;

				&:hover {
					transform: translateX(-1rem) scale(1.2);
				}
				@include focus2 {
					transform: translateX(-1rem) scale(1.2);
				}				
			}	
		}
		::placeholder {
		  opacity: 0;
		}
		#searchsubmit {
			display: block;
			width: 2rem;
			height: 2rem;
			padding: 0;
			background: transparent url(img/ui/search.svg) 0 0 no-repeat;
			background-size: contain;
			transition: .5s ease-in-out;
			pointer-events: none;

			position: absolute;
			top: 50%;
			margin-top: -1rem;
			right: 0;

			@include a11y-hide();
		}
	}	
}

.site-title {
	display: block;
	font-family: var(--font_title);
	text-transform: uppercase;
	font-size: 2.4rem;
	line-height: 1;
	margin: 0;
	
	a,
	img {
		display: block;
	}
	img {
		@include rwd(large) {
		
			.layout-v2 & {
				margin: 0 auto;
			}	
		}		
	}

	.logo.has-mobile-logo { display: none; }
	.logo-mobile { display: block; }
	
	@include rwd(large) {
		.logo.has-mobile-logo { display: block; }
		.logo-mobile { display: none; }
	}

}

.site-desc {
	display: block;
	margin: 0;
	max-width: 22rem;
	
	@include rwd(medium) {
		max-width: none;
	}
	@include rwd(large) {
		max-width: 24rem;
	}
}

// Sticky Nav

.sticky-nav {

	@include rwd(large) {
		#site_head {
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			
			animation: drop_in .8s;
			z-index: 100;		
			
		}
		
		&.admin-bar {
			
			#site_head {
				top: 46px;
				
				@include rwd($admin-bar) {
					top: 32px;
				}
			}
		}
	}
}