/* ------------------------- */
/* = Plugins
/* ------------------------- */

// Complianz

.cmplz-dropdown {
	position: relative;
	margin-bottom: $grid-padding/2;
}
.cmplz-service-header {
	background-color: var(--bg_color);
	padding: $grid-padding;
	
	p {
		font-size: 1.6rem;
		margin: $grid-padding/2 0;
	}

	&::after {
		@include pointer(top, 1rem);
		position: absolute;
		right: $grid-padding;
		top: 2.4rem;
		border-top-color: var(--primary_color);
		transition: .3s ease-in-out;
	}
	[open] &::after {
		transform: rotate(180deg);
		top: 1.4rem;
	}	
}
.cmplz-service-description,
.cmplz-sharing-data,
.cookies-per-purpose {
	padding: $grid-padding;
	font-size: 75%;
}
.cookies-per-purpose {
	background-color: #f4f4f4;
	border-top: #ccc 1px solid;
	margin-bottom: $grid-padding;
	
	h5 {
		font-family: var(--font_bold);
		color: var(--text_color);
		font-size: 1.6rem;
	}
}

p.cmplz-subtitle {
	@extend h3;
}

// User switching

p#user_switching_switch_on {
	position: fixed;
	bottom: 3rem;
	left: 3rem;
	
	a {
		display: inline-flex;
		padding: .5rem 1rem;
		background-color: var(--accent_color);
		color: var(--text_color);
		font-size: 1.4rem;
		border-radius: .4rem;
		text-decoration: none;
		transition: background .3s ease-in-out;
		
		&:hover,
		&:focus {
			background-color: var(--text_color);
			color: #fff;
		}
	}
}


/* ------------------------- */
/* = Misc
/* ------------------------- */

.error404 {
	
	.page-content .searchform {
		margin-bottom: $grid-padding*2;
	}
}


// Back to top

#back2top {
	
}



/* ------------------------- */
/* = Helpers
/* ------------------------- */

.a11y-hidden {
	@include a11y-hidden();
}
.out-of-reach {
	display: none;
}

.clearfix {
	clear: both;
	float: none;
}
.floatl {
	float: left;
} 
.floatr {
	float: right;
}

.txtr {
	text-align: right;
} 
.txtl {
	text-align: left;
} 
.txtc {
	text-align: center;
}