// -------------------------
// = Mixins
// -------------------------


@mixin a11y-hide($percent: 150%) {
	text-indent: $percent;
	white-space: nowrap;
	overflow: hidden;
}

@mixin a11y-hidden($width: 1px, $height: 1px) {
	position: absolute;
	display: block; 
	width: $width;
	height: $height;
	padding: 0;
	margin: 0;
	text-indent: 150%;
	white-space: nowrap;
	overflow: hidden;	
}

@mixin transition($property: all) {
	transition: $property .2s ease-in-out;
}

@mixin linkblock() {
	content: "";
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;	
}



// Mobile First

@mixin rwd($width) {
	
	@if $width == wide {
		@media only screen and (min-width: $width-large) {
			@content;
		}
	}
	@else if $width == large {
		@media only screen and (min-width: $width-large) {
			@content;
		}
	}
	@else if $width == medium {
		@media only screen and (min-width: $width-medium) {
			@content;
		}
	}
	@else if $width == small {
		@media only screen and (min-width: $width-small) {
			@content;
		}
	}
	@else if $width == tiny {
		@media only screen and (min-width: $width-tiny) {
			@content;
		}
	}
	@else {
		@media only screen and (min-width: $width) {
			@content;
		}
	}
}


// Desktop First

@mixin desktop($width) {
	
	@if $width == wide {
		@media only screen and (max-width: $width-large) {
			@content;
		}
	}
	@else if $width == large {
		@media only screen and (max-width: $width-large) {
			@content;
		}
	}
	@else if $width == medium {
		@media only screen and (max-width: $width-medium) {
			@content;
		}
	}
	@else if $width == small {
		@media only screen and (max-width: $width-small) {
			@content;
		}
	}
	@else if $width == tiny {
		@media only screen and (max-width: $width-tiny) {
			@content;
		}
	}
	@else {
		@media only screen and (max-width: $width) {
			@content;
		}
	}
}
