// Navigation
// -
// + + + + + + + + + + 


// Skiplinks

.skiplinks {
	position: absolute; 
	padding-top: 0;
	z-index: 100;

	a {
		position: fixed; 
		top: -6.5rem;
		padding: $grid-padding;
		background-color: var(--text_color);
		font-family: var(--font_bold);
		color: #fff;
		text-decoration: none;
		transition: top .2s ease-in;
	
		&:focus {
			outline: none;
			top: -.5rem;
			
			.admin-bar & {
				top: 46px;
				
				@include rwd($admin-bar) {
					top: 32px;
				}
			}
		}

	}
}

// Toolbar

.toolbar-menu {
	display: flex;
	justify-content: flex-end;
	
	& > li {
		font-size: 1.4rem;
		margin-left: $grid-padding;
		
		@include rwd(medium) {
			.has-search & {
				margin-left: 0;
				margin-right: $grid-padding;
			}
		}
		
		& > a {
			text-decoration: none;
			@include link-style();
		}
	}
}

// Main nav

.main-menu {
	position: absolute;
	top: auto; 
	left: 0;
	width: 100%;
	padding: $grid-padding;
	background-color: #fff;
	
	transform: translateX(-110%);
	transition: transform .4s ease-in-out;
	z-index: 100;
	
	.menu-opened + & {
		transform: translateX(0);
	}
	
	@include rwd(small) {
		width: 80%;
	}
	@include rwd(medium) {
		width: 60%;
	}
	
	@include rwd(large) {
		position: relative;
		left: auto;
		padding: 0;
		width: auto;
		background-color: transparent;
		transform: none;

		display: flex;
		flex-wrap: wrap;
	}

	
	& > li {
		position: relative;
		display: block;
		
		@include rwd(large) {
			margin-left: $grid-padding;
		}
		@include rwd(wide) {
			margin-left: $grid-padding*2;
		}
		
		& > a {
			position: relative;
			display: block;
			padding: $grid-padding 0;
			transition: .2s ease-in-out;
			text-decoration: none;
			
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				position: absolute;
				left: 0;
				bottom: 0;
				border-top: var(--text_color) 1px solid;
				transition: .2s ease-in-out;
			}
			
			@include rwd(large) {
				padding: $grid-padding;
				
				&::after {
					width: 0;
					border-top: transparent 3px solid;
				}
			}
		}
		
		& > a:hover, 
		& > a:focus,
		&.current-menu-item > a,
		&.current_page_parent > a {
			background-color: var(--accent_color);
			padding-left: $grid-padding;
			
			.high-contrast & {
				color: #fff;
			}
			
			@include rwd(large) {
				background-color: transparent;
				
				.high-contrast & {
					color: var(--text_color);
				}
			}
			
			&::after {
				width: 100%;
				border-top-color: var(--accent_color);
				
				@include rwd(large) {
					border-top-width: 3px;
				}
			}
		}
		&.current-menu-item > a,
		&.current_page_parent > a {
			font-family: var(--font_bold);
		}
		
		
		// Sub-Menus behaviors
		
		&.menu-item-has-children {
			
			& > a {
				padding-right: 2.4rem;
				
				@include rwd(wide) {
					padding-right: $grid-padding;
				}
			}
		
			@include rwd(wide) {
				
				&.unfold-parent > a {
					padding-right: 1.8rem;
				}
				
				&:hover > .sub-menu {
					left: auto;
					opacity: 1;
					
					& > li {
						display: block;
					}
				}
			}
		}
	}
}


// Sub-menus

.sub-menu-opened + .sub-menu {
	transform: scaleY(1);
	height: auto;
	background-color: var(--header_color);
	
	& > li {
		display: block;
		
		a {
			display: block;
		}
	}
	
	@include rwd(large) {
		left: auto;
		opacity: 1;
		
		& > li {
			display: block;
		}
	}
}

.sub-menu {
	position: relative;
	height: 1px;
	transform: scaleY(0);
	transform-origin: center top;
	overflow: hidden;
	transition: .2s ease-in-out;
	background-color: var(--header_color);
	
	@include rwd(large) {
		position: absolute;
		height: auto;
		top: auto;
		left: -999em;
		opacity: 0;
		transform: none;
		min-width: 100%;
		z-index: 100;
		transition: opacity .2s ease-in-out;
	}

	& > li {
		font-size: 1.6rem;
		border-bottom: var(--text_color) 1px dotted;
		
		&:first-child {
			border-top: var(--text_color) 1px solid;
		}
		
		@include rwd(large) {
			&:first-child {
				border-top: 0;
			}
		}
		@include rwd(wide) {
			display: none;
		}
		
		
		a {
			display: block;
			padding: $grid-padding 0;
			padding-left: $grid-padding;
			text-decoration: none;
			transition: .2s ease-in-out;
			
			&::after {
				border-top: var(--text_color) 1px dotted;
				width: 100%;
			}
			
			@include rwd(large) {
				padding: $grid-padding/2 $grid-padding;
			}
		}
		a:hover, 
		a:focus,
		&.current-menu-item a {
			background-color: var(--accent_color);
			
			
			&::after {
				border-top-color: var(--text_color);
				border-top-width: 1px;
			}
		}
	}
	
	.current-menu-item &,
	.current-menu-ancestor & {
		
	}			
}


// Sub-Menus trigger


.sub-menu-unfold {
	position: absolute;
	top: -.25rem; 
	right: 0;
	display: block;
	height: 4.4rem; 
	width: 4.4rem;
	margin-top: 0;
	border: 0; 
	padding: 0;
	background: transparent;

	span {
		@include a11y-hidden();
	}
	
	@include rwd(large) {
		height: 2.2rem; 
		width: 2.2rem;
		top: 1.1rem;
		right: 0; 
	}
	@include rwd(wide) {
		left: -999rem;
		
		&:focus {
			left: auto;
			right: 0;
		}
	}
	
	&::after, 
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 2.4rem; 
		left: 1.5rem;
		width: 1.6rem; 
		height: 0;
		border-top: var(--text_color) 2px solid;
		transition: transform .1s ease-in-out;
		
		@include rwd(large) {
			top: 1rem; 
			width: $grid-padding;
			border-top-width: 1px; 
		}
	}
	
	// Plus version	
	// &::after {
	// 	transform: rotate(-90deg);
	// }
	// &.sub-menu-opened::after {
	// 	transform: rotate(45deg);
	// }
	// &.sub-menu-opened::before {
	// 	transform: rotate(-45deg);
	// }
	
	// Pointer version
	&::before {
		left: 1rem;
		transform: rotate(45deg);
		
		@include rwd(large) {
			left: .5rem;
		}
	}
	&::after {
		left: 2rem;
		transform: rotate(-45deg);
		
		@include rwd(large) {
			left: 1.2rem;
		}
	}
	&.sub-menu-opened::after,
	&.sub-menu-opened::before {
		left: 1.5rem;
		top: 2.2rem;
		transform: rotate(0);
		
		@include rwd(large) {
			top: 1rem;
			left: .75rem;
		}
	}
	

}


// Hamburger Menu

#menu_toggle {
	position: relative;
}

.burger {
	display: block; 
	height: 4.4rem; 
	width: 4.4rem;
	border: 0; 
	border-radius: 0;
	margin: 0; 
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	z-index: 200;
	
	.burger-title {
		position: absolute;
		font-size: 1.6rem;
		top: -1rem;
		left: 4.4rem;
		font-family: var(--font_regular);
	}

	& > span,
	& > span::before,
	& > span::after {
		position: absolute; 
		display: block;
		width: 3.4rem; 
		height: 0;
		margin: 0;
		border-top: var(--primary_color) 2px solid;
		transition: .15s linear;
	}
	& > span {
		top: 2.1rem; 
		left: 0;
		
		&::before,
		&::after {
			content: '';
			left: 0;
		}
		&::before {
			top: -1.3rem;
			width: 2.6rem 
		}
		&::after {
			bottom: -1.1rem;
			width: 1.7rem;
		}
		
	}
	
	&.menu-opened {
		& > span {
			border-color: transparent; 
			width: 0;
			
			&::before,
			&::after {
				content: '';
				top: 0;
				left: 0;
				width: 3.4rem;
				border-color: var(--secondary_color);
			}
			&::before {
				transform: rotate(-135deg);
				//transform: rotate(90deg);
			}
			&::after {
				transform: rotate(-45deg);
				//border-color: var(--secondary_color);
			}
		}
	}

	&:hover {
		background-color: transparent;
	}	
	
	@include rwd(large) {
		display: none;				
	}
}

// Widget nav menus

.widget-container {
	
	ul {		
		padding: 0;
		list-style: none;
		border-top: var(--text_color) 1px solid;
		
		.white-text & {
			border-top-color: #fff;
		}
		
		li {
			
			a {
				display: block;
				padding: $grid-padding 0;
				text-decoration: none;
				border-bottom: var(--text_color) 1px solid;
				transition: .2s ease-in-out;
				
				.white-text & {
					border-bottom-color: #fff;
				}
				
				&:hover,
				&:focus {
					padding-left: .5rem;
					background-color: var(--accent_color);
					color: var(--text_color);
					
					.high-contrast & {
						color: #fff;
					}
				}
			}
			
			&.recentcomments {
				display: block;
				padding: $grid-padding 0;
			}
		}
	}
}

// Share box

.share-box {
	
	p {
		padding-bottom: $grid-padding/2;
		border-bottom: var(--text_color) 1px solid;
		margin-bottom: $grid-padding;
	}
}

.share-items {
	list-style: none;
	padding: 0;
	display: flex;
	
	& > li {
		display: block;
		margin-right: $grid-padding;
		
		img {
			display: block;
			transition: .2s ease-in-out;
		}
		a {
			text-decoration: none;
			
			&:hover,
			&:focus {
				img {
					transform: translateY(-$grid-padding/2);
				}
			}
		}
	}
}


// Contrast

.contrast-switch {
	
	& button {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		font-family: var(--font_regular);
		color: #fff;
		text-decoration: none;
		font-size: 1.1rem;
		padding: 0;
		margin: 0;
		background-color: transparent;
		
		span {
			@include a11y-hidden();
		}
		
		img {
			display: block;
			width: 20px;
			height: 20px;
			position: relative;
			top: 0;
			margin: 0 auto;
			transition: .2s ease-in-out;
		}
	}
	
	& button:focus, 
	& button:hover {
		
		img {
			transform: scale(1.1);
		}
	}
}

.toggle-remove { display: none !important; }


.high-contrast {
	.toggle-highcontrast { display: none; }
	.toggle-remove { display: block !important; }
}