// Navigation
// -
// + + + + + + + + + + 


// Skiplinks


.skiplinks {
	position: absolute; 
	padding-top: 0;
	z-index: 100;

	a {
		position: fixed; 
		top: -6.5rem;
		padding: $grid-padding;
		background-color: $text-color;
		font-family: $font-bold;
		color: #fff;
		text-decoration: none;
		transition: top .2s ease-in;
	
		&:focus {
			outline: none;
			top: -.5rem;
			
			.admin-bar & {
				top: 46px;
				
				@include rwd($admin-bar) {
					top: 32px;
				}
			}
		}

	}
}


// Main nav


.site-nav {
	padding: $grid-padding;
}

.main-menu {
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%;
	padding: $grid-padding;
	padding-top: 10rem;
	background-color: #fff;
	
	transform: translateX(-110%);
	transition: transform .4s ease-in-out;
	z-index: 100;
	
	.menu-opened + & {
		transform: translateX(0);
	}
	
	@include rwd(small) {
		width: 80%;
	}
	@include rwd(medium) {
		width: 60%;
	}
	
	@include rwd(large) {
		position: relative;
		top: auto;
		left: auto;
		padding: 0;
		width: auto;
		background-color: transparent;
		transform: none;

		display: flex;
		flex-wrap: wrap;
	}

	
	& > li {
		position: relative;
		display: block;
		
		@include rwd(large) {
			margin-right: $grid-padding;
		}
		
		a {
			display: block;
			padding: $grid-padding 0;
			border-top: $text-color 1px solid;
			text-decoration: none;
			
			@include rwd(large) {
				padding: 0;
				border-top: 0;
			}
		}
		& > a:hover, 
		& > a:focus,
		&.current-menu-item > a,
		&.current_page_parent > a {
			color: $secondary-color;
			text-decoration: underline;
		}
		a:focus {
			
		}
	}
}


// Sub-Menus behaviors


.menu-item-has-children {
	
	& > a {
		padding-right: 2.4rem;
		
		@include rwd(large) {
			padding-right: 1.8rem;
		}
		@include rwd(wide) {
			padding-right: 0;
		}
	}

	@include rwd(wide) {
		
		&.unfold-parent > a {
			padding-right: 1.8rem;
		}
		
		&:hover > .sub-menu {
			left: auto;
			opacity: 1;
			
			& > li {
				display: block;
			}
		}
	}
}

.sub-menu-opened + .sub-menu {
	transform: scaleY(1);
	height: auto;
	
	& > li {
		display: block;
	}
	
	@include rwd(large) {
		left: auto;
		opacity: 1;
		
		& > li {
			display: block;
		}
	}
}

.sub-menu {
	position: relative;
	height: 1px;
	transform: scaleY(0);
	transform-origin: center top;
	overflow: hidden;
	transition: .2s ease-in-out;
	
	@include rwd(large) {
		position: absolute;
		height: auto;
		top: auto;
		left: -999em;
		opacity: 0;
		transform: none;
		min-width: 100%;
		z-index: 100;
		transition: opacity .2s ease-in-out;
	}

	& > li {
		
		@include rwd(wide) {
			display: none;
		}
		
		
		a {
			display: block;
		}
		a:hover, 
		a:focus,
		&.current-menu-item a {
			
		}
	}
	
	.current-menu-item &,
	.current-menu-ancestor & {
		
	}			
}


// Sub-Menus trigger


.sub-menu-unfold {
	position: absolute;
	top: .5rem; 
	right: 0;
	display: block;
	height: 4.4rem; 
	width: 4.4rem;
	margin-top: 0;
	border: 0; 
	padding: 0;
	background: transparent;

	span {
		@include a11y-hidden();
	}
	
	@include rwd(large) {
		height: 2.2rem; 
		width: 2.2rem;
		top: .2rem;
		right: -2.8rem; 
	}
	@include rwd(wide) {
		left: -999rem;
		
		&:focus {
			left: auto;
			right: 0;
		}
	}
	
	&::after, 
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 2rem; 
		left: 1.5rem;
		width: 1.6rem; 
		height: 0;
		border-top: $text-color 2px solid;
		transition: transform .1s ease-in-out;
		
		@include rwd(large) {
			top: 1rem; 
			left: .65rem;
			width: $grid-padding; 
		}
	}
	
	// Plus version	
	// &::after {
	// 	transform: rotate(-90deg);
	// }
	// &.sub-menu-opened::after {
	// 	transform: rotate(45deg);
	// }
	// &.sub-menu-opened::before {
	// 	transform: rotate(-45deg);
	// }
	
	// Pointer version
	&::before {
		left: 1rem;
		transform: rotate(45deg);
	}
	&::after {
		left: 2rem;
		transform: rotate(-45deg);
	}
	&.sub-menu-opened::after {
		left: 1.5rem;
		transform: rotate(0);
	}
	&.sub-menu-opened::before {
		left: 1.5rem;
		transform: rotate(0);
	}
	

}


// Hamburger Menu

#menu_toggle {
	position: relative;
}

.burger {
	display: block; 
	height: 4.4rem; 
	width: 4.4rem;
	border: 0; 
	border-radius: 0;
	margin: 0; 
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	@include a11y-hide();
	z-index: 200;

	span,
	span::before,
	span::after {
		position: absolute; 
		display: block;
		width: 3.4rem; 
		height: 0;
		margin: 0;
		border-top: $primary-color 2px solid;
		transition: .3s linear;
	}
	span {
		top: 2.1rem; 
		left: 0;
		
		&::before,
		&::after {
			content: '';
			left: 0;
		}
		&::before {
			top: -1.3rem;
			width: 2.6rem 
		}
		&::after {
			bottom: -1.1rem;
			width: 1.7rem;
		}
		
	}
	
	&.menu-opened {
		span {
			border-color: transparent; 
			transform: rotate(-45deg);
			
			&::before,
			&::after {
				content: '';
				top: 0;
				left: 0;
				width: 3.4rem;
				border-color: $secondary-color;
			}
			&::before {
				//transform: rotate(-45deg);
				transform: rotate(90deg);
			}
			&::after {
				//transform: rotate(45deg);
				border-color: $secondary-color;
			}
		}
	}

	&:hover {
		background-color: transparent;
	}	
	
	@include rwd(large) {
		display: none;				
	}
}