// -------------------------
// = Variables
// -------------------------


// Grid Padding


$grid-padding: 0.3125em; 	// @note: The padding gutter! equiv. 5px


// Colors


$primary-color: #000;
$secondary-color: #000;
$third-color: #000;
$background-color: #fff;


// Fonts


$font-stack: Helvetica, Arial, sans-serif;
$font-title:  $font-stack;
$font-regular:  $font-stack;
$font-bold:  $font-stack;
$font-italic:  $font-stack;


// Break-Points


$width-tiny: 22.563em; 		// @note: 361px
$width-small: 30.063em; 	// @note: 481px
$width-medium: 48.063em;	// @note: 769px
$width-large: 60.063em; 	// @note: 961px
$width-wide: 75.063em; 		// @note: 1201px


