// -------------------------
// = Variables
// -------------------------

// Grid Padding & Max Width

$grid-padding: 1rem; 					// @note: The padding gutter! equiv. 10px

$max-width: 96rem;						// @note: 960px
$max-width-large: $max-width*1.3;		// @note: 1248px
$max-width-small: $max-width*0.675;		// @note: 648px

$half-space: calc( (100% - #{$max-width}) /2 + #{$grid-padding} );  // Half the viewport


// Break-Points

$width-small: 30em; 		// @note: 480px
$width-medium: 45em;		// @note: 720px
$width-large: 60em; 		// @note: 960px
$width-wide: 75em;	 		// @note: 1200px
$width-xwide: 90em;	 		// @note: 1440px

$admin-bar: 48.875em;	 	// @note: 782px


// Colors

$primary-color: #303030;
$secondary-color: #606060;
$third-color: #404040;
$text-color: #303030;
$bg-color: #fff;


// Root CSS vars
// Ex: var(--primary-color)
/*
:root {
	
	// Colors 
	
	--primary_color: #303030; 
	--secondary_color: #606060; 
	--third_color: #404040;
	
	--text_color: #303030;
	--bg_color: #fff;


	// Fonts
	
	--font_stack: Helvetica, Arial, sans-serif;
	
	--font_title: 'Title', var(--font_stack);
	--font_regular: 'Regular', var(--font_stack);
	--font_italic: 'Italic', var(--font_stack);
	--font_bold: 'Bold', var(--font_stack);
	--font_bolditalic: 'BoldItalic', var(--font_stack);
	
	--font_mono: 'Andale Mono', 'DejaVu Sans Mono', Courier, monospace;
	
}
*/