// -------------------------
// = Variables
// -------------------------


// Grid Padding


$grid-padding: 0.3125em; 	// @note: The padding gutter! equiv. 5px


// Colors


$primary-color: #000;
$secondary-color: #000;
$third-color: #000;
$background-color: #fff;


// Fonts


$font-stack: Helvetica, Arial, sans-serif;
$font-title:  $font-stack;
$font-regular:  $font-stack;
$font-bold:  $font-stack;
$font-italic:  $font-stack;


// Break-Points


$width-tiny: 22.500em; 		// @note: 360px  - base 16px
$width-small: 30em; 		// @note: 480px
$width-medium: 48em;		// @note: 768px
$width-large: 64em; 		// @note: 1024px
$width-wide: 80em;	 		// @note: 1280px
